@media only screen and (max-width: 768px) {
   h2.title-m-h2 {
        font-size: 22px ;
        margin-bottom: 15px;
        padding: 3px 0;
    }
   h2.title-h2 {
        font-size: 22px ;
        margin-bottom: 15px;
        padding: 3px 0;
    }
}

 h2.title{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-shadow: 3px 3px 4px rgb(107, 107, 107);
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
 }